<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD</title>
    <script>
        console.log("Hello World")
        console.log("<%= token %>")
    </script>
</head>
<body>
    <h1>RESET PASSWORD</h1>
    <form action="/api/reset" method="POST">
        <input type="password" name="password" placeholder="New Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="text"  value ='<%= token %>' name="token" placeholder="Token" hidden> 
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>