<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset_password.css" type="text/css" />
    <title>RESET PASSWORD</title>
</head>
<body>
    <h1 class="heading">RESET PASSWORD</h1>
    <form action="/api/reset" method='post' class="form" id="submitForm">
        <input type="password" name="password" placeholder="New Password" id="password">
        <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirmPassword">
        <input type="text"  value ='<%= token %>' name="token" placeholder="Token" hidden>
        <p class="error" id="error" hidden></p> 
        <button type="button" onclick='return verifyPassword()' id="submitBtn">
            Reset Password
        </button>
    </form>
    <script src="/js/reset_password.js"></script>
</body>
</html>