.heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.form input{
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.form button{
    width: 300px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    margin-left: 10px;
}

.form button:hover{
    background: #ddd;
}

.form button:active{
    background: #eee;
}

.form button:focus{
    outline: none;
}

.form button:disabled{
    background: #ccc;
    cursor: not-allowed;
}

.form button:disabled:hover{
    background: #ccc;
}

.form button:disabled:active{
    background: #ccc;
}

.form button:disabled:focus{
    outline: none;
}

.error{
    color: red;
    font-size: 20px;
    margin-top: 5px;
}

